body {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.loginRegister {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 45rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="password"],
input[type="text"] {
    box-sizing: border-box;
    padding: 20px;
    font-size: 30px;
    color: #f8f8f8;
    height: 4rem;
    border-radius: 20px;
    width: 30rem;
    margin-bottom: 2rem;
    background: #252525;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

label {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

#submit,
#submitR {
    cursor: pointer;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: 1px solid #3b83f65f;
    border-radius: 8px;
    padding: 1rem;
    transition: 0.3s;
    font-size: 20px;
    text-transform: uppercase;
}

#submit:hover,
#submitR:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

#loginInfo {
    color: red;
    margin-top: 2rem;
    text-align: center;
}

.btn {
    font-weight: bold;
}